.banner{
    position: relative;
    background: url(https://i.ibb.co/gwLnHkh/Optimized-top-view-burgers-fries-with-pickles-copy-space.jpg);
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner-title{
    margin: 1em 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 2.9em;
    font-family: 'Alfa Slab One', cursive;
    line-height: 1.7em;
}

.banner p{
    padding: 5px;
    color: rgb(235, 230, 230);
    font-family: 'Alfa Slab One', cursive;
    font-weight: 300;
}

.btn1{
    display: inline-block;
    margin: 1em 0 0;
    background-color: goldenrod;
    font-family: 'Alfa Slab One', cursive;
    color: rgb(235, 221, 221);
    text-transform: uppercase;
    border: none;
    padding: 1em 1.5em;
    border-radius: 20px;
}

.btn1:hover{
    background-color: rgb(236, 212, 212);
    color: black;
    transition: 0.5s;
}