.manage-order{
    padding-top: 70px;
    background-color: rgb(19, 18, 18);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;

}

.btn-order{
 border-radius: 15px;
}
.btn-order:hover{
 background-color: rgb(255, 175, 25);
 transition: 0.8s;
}